#Img1 {
    position: relative;
    top: 0px;
    left: 470px;
    width: 350px;
    height: auto;
}
#Img2 {
    position: relative;
    top: 20px;
    left: 465px;
    width: 380px;
    height: auto;
}
body {
    border-top: 0cap: black;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}